@media (min-width: 576px){
    .mobile-filter-btn{
        display: none;
    }

    .category-filter-collapse{
        display: inline-flex !important;
    }
}

@media (min-width: 992px){
    .header-navbar{
        padding: 10px 0;
    }

    .header-right-top ul li{
        font-size: 14px;
    }

    .header-right-top ul li a{
        width: 22px;
        height: 22px;
    }

    .main-web-menu.offcanvas{
        position: relative;
        visibility: visible;
        background-color: transparent;
    }

    .main-web-menu.offcanvas.offcanvas-end{
        inset: auto;
        width: 100%;
        border: 0px;
        transform: none;
        justify-content: center;
    }

    .main-web-menu.offcanvas .offcanvas-header{
        display: none;
    }

    .main-web-menu.offcanvas .offcanvas-body{
        padding: 0;
        flex-grow: unset;
        overflow-y: unset;
    }

    .main-web-menu.offcanvas .offcanvas-body .navbar-nav{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
    }

    .toggle-btn{
        display: none;
    }

    .main-web-menu .navbar-nav>li{
	    font-size: 13px;
    }

    .social-listing{
        gap: 6px;
    }

    .social-listing li a{
        width: 20px;
	    height: 20px;
    }

    .social-listing li a svg {
        width: 16px;
        height: 16px;
    }
    
    .tab-container {
        flex-direction: row;
    }

    .accordion-mode .tab-pane {
        display: none !important;
    }

    .accordion-trigger::after {
        display: none !important;
    }
}

@media (min-width: 1200px){

    .header-navbar{
        padding: 15px 0;
    }

    .header-navbar .navbar-brand{
        max-width: 90px;
    }

    .header-right-side{
        width: calc(100% - 110px);
        row-gap: 15px;
    }

    .container{
        max-width: 1320px;
    }

    .header-right-top ul li{
        font-size: 16px;
    }

    .main-web-menu.offcanvas .offcanvas-body .navbar-nav{
        gap: 15px;
    }

    .social-listing{
        gap: 15px;
    }

    .social-listing li a{
        width: 24px;
	    height: 24px;
    }

    .main-web-menu .navbar-nav>li{
	    font-size: 14px;
    }

    .footer-bg{
        padding: 40px 0 20px;
    }

    .footer-left-side{
        max-width: 520px;
        row-gap: 25px;
        padding-left: 40px;
    }

    .footer-title-wrap{
        font-size: 24px;
    }

    .form-group .form-control{
        min-height: 40px;    
        font-size: 16px;
        line-height: 1.2;
    }

    .cmn-select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{
        font-size: 16px;
    }

    .newsletter-btn{
        min-height: 40px;
        min-width: 60px;
    }

    .cmn-select-dropdown .select2-container{
        width: 100% !important;
        height: 40px;
    }

    .footer-right-side{
        max-width: 575px;
        row-gap: 35px;
    }

    .footer-title-wrap:before{
        width: 24px;
        height: 18px;
        left: -40px;
    }

    .footer-page-links{
        column-gap: 40px;
    }

    .field-info{
        font-size: 14px;
    }

    .footer-menu{
        row-gap: 5px;
    }

    .footer-menu-list{
	    row-gap: 20px;
    }

    .footer-link-title,
    .footer-menu li{
        font-size: 16px;
    }

    .social-copyright .social-listing{
        gap: 15px;
    }

    .copyright-text{
        font-size: 14px;
    }

    .main-content-wrapper{
        margin-top: 100px;
    }

    .banner-slider {
        height: 640px;
    }

    .banner-slider .item .banner-content{
        row-gap: 25px;
    }

    .banner-title{
        font-size: 56px;
    }

    .banner-title span{
        font-size: 34px;
    }

    .banner-btn{
        min-height: 44px;
        min-width: 150px;
        column-gap: 5px;
        font-size: 18px;
    }

    .cmn-padding{
        padding: 65px 0;
    }

    .section-header{
        margin-bottom: 35px;
    }

    .section-title{
        font-size: 32px;
    }

    .cmn-lft-style{
        padding-left: 22px;
    }

    .cmn-lft-style:before{
        width: 10px;
    }

    .cmn-link-btn{
        font-size: 20px;
        column-gap: 12px;
    }

    .event-title{
        font-size: 22px;
    }

    .event-date{
        font-size: 16px;
    }

    .event-country{
        font-size: 18px;
    }

    .upcoming-events-section{
        padding-left: 30px;
        padding-right: 30px;
    }

    .category-slider-wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev,
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next{
        margin-top: -36px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev,
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next,
    .category-slider.owl-carousel .owl-nav .owl-prev,
    .category-slider.owl-carousel .owl-nav .owl-next{
        width: 18px;
        height: 32px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev{
        left: -36px;
    }

    .category-slider.owl-carousel .owl-nav .owl-prev{
        left: -24px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-next{
        right: -36px;
    }

    .category-slider.owl-carousel .owl-nav .owl-next{
        right: -24px;
    }

    .main-section-title{
        font-size: 44px;
    }

    .about-info-sec{
        font-size: 22px;
        max-width: 80%;
    }

    .main-section-header{
        row-gap: 70px;
        padding: 35px 0 20px;
    }

    .categories-wrpper{
        padding: 70px 0;
    }

    .btm-style:before{
        width: 75px;
        height: 6px;
        bottom: -38px;
    }

    .categories-wrpper{
        row-gap: 75px;
    }

    .top-category-section,
    .bottom-category-section{
        gap: 30px;
    }

    .category-name{
        font-size: 26px;
    }

    .newletter-title{
        font-size: 22px;
    }

    .newsletter-text{
        font-size: 17px;
    }

    .newsletter-img{
        width: 600px;
	    height: 353px;
    }

    .newsletter-content-wrapper .nav-link{
        max-width: 500px;
    }

    .newsletter-wrapper{
        row-gap: 20px;
    }

    .newsletter-wrapper .nav-pills .nav-link{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .newsletter-wrapper .nav-pills .nav-link:hover .newletter-title{
        background-size: 20px;
        padding-left: 30px;
    }

    .newsletter-content{
        row-gap: 14px;
    }

    .category-banner{
        height: 400px;
    }

    .breadcrumb .breadcrumb-item{
        font-size: 18px;
    }

    .category-slider .item a{
        row-gap: 8px;
    }

    .category-slider-title{
        font-size: 22px;
    }

    .category-slider-title.cmn-lft-style:before{
        height: calc(100% - 10px);
    }

    .inner-page-wrapper{
        margin-top: 30px;
    }

    .page-breadcrumb{
        margin-bottom: 50px;
    }

    .category-slider .item{
        min-width: 315px;
    }

    .category-slider .category-slider-img-wrap{
        height: 205px;
    }

    .product-listing-wrap{
        grid-template-columns: repeat(3, 1fr);
    }

    .product-header{
        row-gap: 8px;
    }

    .product-name{
        font-size: 18px;
    }

    .product-spec{
        font-size: 16px;
    }

    .product-cate-filter{
        column-gap: 40px;
        padding: 80px 0;
    }

    .product-filter-accordion{
        max-width: 280px;
    }

    .product-listing-wrap{
        width: calc(100% - 320px);
        row-gap: 80px;
        column-gap: 60px;
    }

    .product-redirect-btn{
        margin-bottom: 12px;
    }

    .product-image-wrap{
        width: 220px;
        height: 114px;
        margin: 30px 0 40px;
    }

    .cmn-view-btn{
        font-size: 14px;
    }

    .view-product-btn{
        padding: 0 22px 0 0;
    }

    .cmn-view-btn:hover:before{
        width: 18px;
        height: 14px;
    }

    .cmn-view-btn:hover{
        padding-left: 22px;
    }

    .view-product-btn.cmn-view-btn:hover{
        padding: 0 0 0 22px;
    }

    .category-filter-collapse .accordion-item .accordion-header .accordion-button{
        font-size: 18px;
    }

    .category-filter-collapse .accordion-item .accordion-header .accordion-button, 
    .category-filter-collapse .accordion-item:first-of-type>.accordion-header .accordion-button{
        padding: 14px 0;
    }

    .category-filter-collapse .accordion-button::after{
        width: 14px;
        height: 14px;
    }

    .category-filter-collapse .form-check-label{
        font-size: 16px;
        padding-left: 30px;
    }

    .category-filter-collapse .checkmark{
        width: 14px;
        height: 14px;
    }

    .category-filter-collapse .accordion-item .accordion-body{
        padding: 0 0 14px 0;
    }
}

@media (min-width: 1601px){
    .container{
        max-width: 1654px;
    }

    .header-navbar{
        padding: 20px 0;
    }

    .header-navbar .navbar-brand{
        max-width: 115px;
    }

    .header-right-side {
        width: calc(100% - 140px);
        row-gap: 30px;
    }

    .social-listing{
        gap: 30px;
    }

    .social-listing li a{
        width: 30px;
	    height: 30px;
    }

    .main-web-menu .navbar-nav>li{
	    font-size: 18px;
    }

    .main-web-menu.offcanvas .offcanvas-body .navbar-nav{
        gap: 30px;
    }

    .header-right-top ul li{
        font-size: 18px;
    }

    .footer-bg{
        padding: 60px 0 20px;
    }

    .footer-left-side{
        max-width: 640px;
        row-gap: 40px;
        padding-left: 55px;
    }

    .footer-title-wrap{
        font-size: 30px;
    }

    .footer-title-wrap:before{
        width: 29px;
        height: 23px;
        left: -55px;
    }

    .form-group .form-control,
    .cmn-select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{
        font-size: 18px;
    }

    .footer-right-side{
        max-width: 695px;
        row-gap: 45px;
    }

    .footer-page-links{
        column-gap: 65px;
    }
    
    .field-info{
        font-size: 16px;
    }

    .footer-menu-list{
	    row-gap: 30px;
    }

    .footer-link-title,
    .footer-menu li{
        font-size: 18px;
    }

    .copyright-text{
        font-size: 16px;
    }

    .main-content-wrapper{
        margin-top: 130px;
    }

    .banner-slider{
        height: 715px;
    }

    .banner-slider .item .banner-content{
        row-gap:30px;
    }

    .banner-slider .carousel-item .banner-content{
        row-gap: 30px;
    }

    .banner-title{
        font-size: 65px;
    }

    .banner-title span{
        font-size: 38px;
    }

    .banner-btn{
        min-height: 50px;
        min-width: 165px;
        column-gap: 10px;
        font-size: 20px;
    }

    .cmn-padding{
        padding: 80px 0;
    }

    .section-header{
        margin-bottom: 40px;
    }

    .section-title{
        font-size: 40px;
    }

    .cmn-lft-style{
        padding-left: 26px;
    }

    .cmn-lft-style:before{
        width: 14px;
    }

    .cmn-link-btn{
        font-size: 22px;
        column-gap: 15px;
    }

    .event-title{
        font-size: 26px;
    }

    .event-date{
        font-size: 20px;
    }

    .event-country{
        font-size: 22px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev,
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next{
        margin-top: -44px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev,
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next,
    .category-slider.owl-carousel .owl-nav .owl-prev,
    .category-slider.owl-carousel .owl-nav .owl-next{
        width: 23px;
        height: 40px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev{
        left: -46px;
    }

    .category-slider.owl-carousel .owl-nav .owl-prev{
        left: -30px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-next{
        right: -46px;
    }

    .category-slider.owl-carousel .owl-nav .owl-next{
        right: -30px;
    }

    .main-section-header{
        row-gap: 80px;
        padding: 35px 0 20px;
    }

    .categories-wrpper{
        padding: 100px 0;
    }

    .main-section-title{
        font-size: 60px;
    }

    .about-info-sec{
        font-size: 26px;
        max-width: 70%;
    }

    .btm-style:before{
        width: 100px;
        height: 8px;
        bottom: -40px;
    }

    .categories-wrpper{
        row-gap: 90px;
    }

    .top-category-section,
    .bottom-category-section{
        gap: 40px;
    }

    .category-name{
        font-size: 30px;
    }

    .newsletter-img{
        width: 790px;
	    height: 465px;
    }

    .newsletter-content-wrapper .nav-link{
        max-width: 660px;
    }

    .newsletter-wrapper{
        row-gap: 25px;
    }

    .newsletter-wrapper .nav-pills .nav-link{
        padding-bottom: 35px;
        margin-bottom: 35px;
    }

    .newsletter-wrapper .nav-pills .nav-link:hover .newletter-title{
        background-size: 29px;
        padding-left: 40px;
    }

    .newsletter-content{
        row-gap: 18px;
    }

    .newletter-title{
        font-size: 26px;
    }

    .newsletter-text{
        font-size: 20px;
    }

    .category-banner{
        height: 480px;
    }

    .inner-page-wrapper{
        margin-top: 40px;
    }

    .page-breadcrumb{
        margin-bottom: 60px;
    }

    .breadcrumb .breadcrumb-item{
        font-size: 20px;
    }

    .category-slider-wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }

    .category-slider-title{
        font-size: 26px;
    }

    .product-cate-filter{
        column-gap: 60px;
        padding: 120px 0;
    }

    .product-filter-accordion{
        max-width: 310px;
    }

    .product-listing-wrap{
        width: calc(100% - 370px);
        row-gap: 120px;
        column-gap: 85px;
    }

    .product-redirect-btn{
        margin-bottom: 12px;
    }

    .product-name{
        font-size: 20px;
    }

    .product-image-wrap{
        width: 335px;
        height: 174px;
        margin: 40px 0 50px;
    }

    .cmn-view-btn{
        font-size: 16px;
    }

    .view-product-btn{
        padding: 0 26px 0 0;
    }

    .cmn-view-btn:hover:before{
        width: 22px;
        height: 18px;
    }

    .cmn-view-btn:hover{
        padding-left: 26px;
    }

    .view-product-btn.cmn-view-btn:hover{
        padding: 0 0 0 26px;
    }

    .category-filter-collapse .accordion-item .accordion-header .accordion-button{
        font-size: 20px;
    }

    .category-filter-collapse .accordion-item .accordion-header .accordion-button, 
    .category-filter-collapse .accordion-item:first-of-type>.accordion-header .accordion-button{
        padding: 17px 0;
    }

    .category-filter-collapse .accordion-button::after{
        width: 14px;
        height: 14px;
    }

    .category-filter-collapse .form-check-label{
        font-size: 18px;
        padding-left: 36px;
    }

    .category-filter-collapse .checkmark{
        width: 16px;
        height: 16px;
    }

    .category-filter-collapse .accordion-item .accordion-body{
        padding: 0 0 16px 0;
    }
}

@media (max-width: 1199px){
    .header-navbar .navbar-brand{
        max-width: 75px;
    }

    .header-right-side{
        width: calc(100% - 110px);
        row-gap: 15px;
    }

    .footer-bg{
        padding: 40px 0 20px;
    }

    .footer-left-side{
        max-width: 400px;
        row-gap: 20px;
        padding-left: 30px;
    }

    .footer-right-side{
        max-width: 470px;
        row-gap: 30px;
    }

    .footer-title-wrap{
        font-size: 22px;
    }

    .footer-title-wrap:before{
        width: 20px;
        height: 14px;
        left: -30px;
    }

    .newsletter-form .form-wrapper{
        row-gap: 12px;
        column-gap: 15px;
    }

    .form-group .form-control{
        min-height: 36px;
        font-size: 14px;
        line-height: 1.2;
    }

    .cmn-select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{
        font-size: 16px;
    }

    .newsletter-btn{
        min-height: 36px;
        min-width: 60px;
    }

    .cmn-select-dropdown .select2-container{
        width: 100% !important;
        height: 40px;
    }

    .field-info{
        font-size: 13px;
    }

    .footer-page-links{
        column-gap: 30px;
    }

    .footer-menu{
        row-gap: 3px;
    }

    .footer-menu-list{
        row-gap: 15px;   
    }

    .footer-link-title,
    .footer-menu li{
        font-size: 16px;
    }

    .social-copyright .social-listing{
        gap: 15px;
    }

    .copyright-text{
        font-size: 13px;
    }

    .main-content-wrapper{
        margin-top: 83px;
    }

    .banner-slider {
        height: 560px;
    }

    .banner-slider .item .banner-content{
        row-gap:25px;
    }

    .banner-title{
        font-size: 48px;
    }

    .banner-title span{
        font-size: 30px;
    }

    .banner-btn{
        font-size: 16px;
    }

    .owl-carousel  .banner-btn .bnr-btn-img{
        width: 12px;
        height: 12px;
    }

    .cmn-padding{
        padding: 55px 0;
    }

    .section-header{
        margin-bottom: 30px;
    }

    .section-title{
        font-size: 26px;
    }

    .cmn-lft-style{
        padding-left: 18px;
    }

    .cmn-lft-style:before{
        width: 8px;
    }

    .cmn-link-btn{
        column-gap: 10px;
    }

    .plus-icon{
        width: 14px;
        height: 14px;
    }

    .event-title{
        font-size: 20px;
    }

    .event-date{
        font-size: 16px;
    }

    .event-country{
        font-size: 18px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev,
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next{
        margin-top: -35px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev,
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next,
    .category-slider.owl-carousel .owl-nav .owl-prev,
    .category-slider.owl-carousel .owl-nav .owl-next{
        width: 14px;
        height: 26px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev,
    .category-slider.owl-carousel .owl-nav .owl-prev{
        left: -22px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-next,
    .category-slider.owl-carousel .owl-nav .owl-next{
        right: -22px;
    }

    .main-section-title{
        font-size: 36px;
    }

    .about-info-sec{
        font-size: 18px;
        max-width: 90%;
    }

    .main-section-header {
        row-gap: 60px;
        padding: 35px 0 20px;
    }

    .categories-wrpper{
        padding: 55px 0;
    }

    .btm-style:before{
        width: 65px;
        height: 4px;
        bottom: -33px;
    }

    .categories-wrpper{
        row-gap: 55px;
    }

    .top-category-section,
    .bottom-category-section{
        gap: 25px;
    }

    .category-name{
        font-size: 20px;
    }

    .newletter-title{
        font-size: 18px;
    }

    .newsletter-text{
        font-size: 15px;
    }

    .newsletter-img{
        width: 500px;
        height: 300px;
    }

    .newsletter-content-wrapper .nav-link{
        max-width: 380px;
    }

    .newsletter-wrapper{
        row-gap: 15px;
    }

    .newsletter-wrapper .nav-pills .nav-link{
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .newsletter-wrapper .nav-pills .nav-link:hover .newletter-title{
        background-size: 20px;
        padding-left: 30px;
    }

    .newsletter-content{
        row-gap: 10px;
    }

    .category-banner{
        height: 350px;
    }

    .category-slider .item a{
        row-gap: 8px;
    }
    
    .category-slider-title{
        font-size: 20px;
    }

    .category-slider-title.cmn-lft-style:before{
        height: calc(100% - 10px);
    }

    .inner-page-wrapper{
        margin-top: 30px;
    }

    .page-breadcrumb{
        margin-bottom: 50px;
    }

    .category-slider .item{
        min-width: 275px;
    }

    .category-slider .category-slider-img-wrap{
        height: 180px;
    }

    .product-listing-wrap{
        grid-template-columns: repeat(3, 1fr);
    }

    .product-header{
        row-gap: 6px;
    }

    .product-name{
        font-size: 16px;
    }

    .product-spec{
        font-size: 14px;
    }

    .product-cate-filter{
        column-gap: 30px;
        padding: 65px 0;
    }

    .product-filter-accordion{
        max-width: 240px;
    }

    .product-listing-wrap{
        width: calc(100% - 270px);
        row-gap: 50px;
        column-gap: 30px;
    }

    .product-redirect-btn{
        margin-bottom: 10px;
    }

    .product-image-wrap{
        width: 200px;
        height: 105px;
        margin: 30px 0 40px;
    }

    .cmn-view-btn{
        font-size: 13px;
    }

    .view-product-btn{
        padding: 0 16px 0 0;
    }

    .cmn-view-btn:hover:before{
        width: 15px;
        height: 11px;
    }

    .cmn-view-btn:hover{
        padding-left: 16px;
    }

    .view-product-btn.cmn-view-btn:hover{
        padding: 0 0 0 16px;
    }

    .category-filter-collapse .accordion-item .accordion-header .accordion-button{
        font-size: 16px;
    }

    .category-filter-collapse .accordion-item .accordion-header .accordion-button, 
    .category-filter-collapse .accordion-item:first-of-type>.accordion-header .accordion-button{
        padding: 12px 0;
    }

    .category-filter-collapse .accordion-button::after{
        width: 12px;
        height: 12px;
    }

    .category-filter-collapse .form-check-label{
        font-size: 14px;
        padding-left: 26px;
    }

    .category-filter-collapse .checkmark{
        width: 14px;
        height: 14px;
    }

    .category-filter-collapse .accordion-item .accordion-body{
        padding: 0 0 14px 0;
    }

    .category-filter-collapse .accordion-body form{
        row-gap: 12px;
    }
}

@media (max-width: 991px){
    .header-navbar{
        padding: 10px 0;
    }

    .header-right-side{
        row-gap: 10px;
    }

    .header-right-btm{
        justify-content: flex-end;
        gap: 20px;
    }

    .social-listing{
        gap: 10px;
    }

    .social-listing li a{
        width: 24px;
        height: 24px;
    }

    .social-listing li a svg{
        width: 18px;
        height: 18px;
    }

    .footer-left-side{
        padding-left: 0px;
        row-gap: 15px;
        max-width: 330px;
    }

    .footer-title-wrap {
        font-size: 18px;
    }

    .footer-title-wrap:before {
        width: 16px;
        height: 14px;
        left: -20px;
    }

    .footer-right-side{
        row-gap: 25px;
        max-width: 350px;
    }

    .footer-page-links {
        column-gap: 25px;
    }

    .footer-link-title{
        font-size: 15px;
    }

    .footer-menu li {
        font-size: 14px;
    }

    .social-copyright{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 5px;
    }

    .social-copyright .social-listing {
        gap: 8px;
    }

    .newsletter-form .form-wrapper {
        row-gap: 10px;
        column-gap: 10px;
    }

    .field-info {
        font-size: 12px;
    }

    .social-copyright .social-listing li a{
        width: 20px;
        height: 20px;
    }

    .social-copyright .social-listing li a svg{
        width: 14px;
        height: 14px;
    }

    .header-right-btm .offcanvas.offcanvas-end{
        border-left: 0;
        width: 250px;
    }

    .header-right-btm .navbar-nav{
        row-gap: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .main-web-menu .navbar-nav>li{
        width: 100%;
        text-align: center;
    }

    .main-content-wrapper{
        margin-top: 85px;
    }

    .banner-slider {
        height: 480px;
    }

    .banner-title {
        font-size: 42px;
    }

    .banner-title span {
        font-size: 26px;
    }

    .banner-btn{
        min-width: 140px;
    }

    .section-title {
        font-size: 24px;
    }

    .cmn-lft-style {
        padding-left: 14px;
    }

    .cmn-lft-style:before {
        width: 6px;
    }

    .cmn-padding {
        padding: 45px 0;
    }

    .main-section-title{
        font-size: 32px;
    }

    .about-info-sec{
        max-width: 100%;
    }

    .categories-wrpper{
        padding: 45px 0;
        row-gap: 40px;
    }

    .top-category-section, .bottom-category-section {
        gap: 15px;
    }

    .catergory-links{
        row-gap: 14px;
    }

    .category-name {
        font-size: 18px;
    }

    .category-name.cmn-lft-style:before{
        height: calc(100% - 10px);
    }

    .tab-container {
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
        text-align: left;
        border-radius: 0;
    }

    .accordion-trigger::after {
        content: "";
        transition: transform 0.3s ease;
        background-image: url(../images/colored-plus-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
        width: 16px;
        height: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        position: absolute;
    }

    .nav-link.active.accordion-trigger::after {
        background-image: url(../images/minus-icon.svg);
    }

    .newsletter-wrapper .nav-pills .nav-link{
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
        position: relative;
    }

    .mobile-accorodion-wrap{
        width: 100%;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 2px dotted #424147;
        border-radius: 0;
        display: flex;
        flex-direction: column;
    }

    .newsletter-content{
        max-width: calc(100% - 50px);
    }

    .tab-content{
        justify-content: flex-start;
    }

    .tab-content > .tab-pane{
        padding-top: 15px;
    }

    .newsletter-wrapper .nav-pills .nav-link:hover .newletter-title {
        background-size: 16px;
        padding-left: 25px;
    }

    .newsletter-content-wrap{
        position: relative;
    }

    .newsletter-content-wrapper{
        flex-direction: column;
        border-bottom: 2px dotted #424147;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .newsletter-content-wrapper .nav-link{
        max-width: 100%;
    }

    .breadcrumb .breadcrumb-item{
        font-size: 16px;
    }

    .category-banner {
        height: 320px;
    }

    .inner-page-wrapper {
        margin-top: 20px;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 15px;
    }

    .page-breadcrumb {
        margin-bottom: 35px;
    }

    .category-slider-title {
        font-size: 18px;
    }

    .category-slider .item{
        min-width: 230px;
    }

    .category-slider .category-slider-img-wrap{
        height: 150px;
    }

    .product-listing-wrap{
        grid-template-columns: repeat(2, 1fr);
        width: calc(100% - 250px);
    }

    .product-filter-accordion {
        max-width: 220px;
    }
}

@media (max-width: 767px){
    .header-navbar .navbar-brand {
        max-width: 65px;
    }

    .header-right-top ul li{
        font-size: 14px;
    }

    .header-right-top ul li a{
        width: 22px;
        height: 22px;
    }

    .footer-bg{
        padding: 30px 0 15px;
    }

    .footer-content-wrap{
        flex-direction: column;
        row-gap: 30px;
    }

    .footer-left-side,
    .footer-right-side{
        max-width: 100%;
        width: 100%;
    }

    .newsletter-form .form-wrapper{
        margin-bottom: 10px;
    }

    .footer-page-links{
        justify-content: space-between;
    }

    .footer-right-side{
        row-gap: 15px;
    }

    .social-copyright{
        align-items: center;
    }

    .main-content-wrapper {
        margin-top: 82px;
    }

    .banner-slider {
        height: 420px;
    }

    .banner-title {
        font-size: 38px;
    }

    .banner-title span {
        font-size: 24px;
    }

    .section-header{
        margin-bottom: 25px;
    }

    .section-title {
        font-size: 22px;
    }

    .cmn-lft-style {
        padding-left: 12px;
    }

    .upcomin-event-slider.owl-carousel .item a{
        row-gap: 10px;
    }

    .event-title{
        font-size: 18px;
    }

    .event-date{
        font-size: 14px;
    }

    .event-country{
        font-size: 16px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev, 
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next{
        margin-top: -31px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev, 
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next,
    .category-slider.owl-carousel .owl-nav .owl-prev,
    .category-slider.owl-carousel .owl-nav .owl-next{
        width: 12px;
        height: 22px;
    }

    .main-section-header {
        row-gap: 45px;
        padding: 30px 0 15px;
    }

    .main-section-title {
        font-size: 28px;
    }

    .btm-style:before {
        width: 50px;
        height: 4px;
        bottom: -24px;
    }

    .about-info-sec {
        font-size: 16px;
    }

    .categories-wrpper {
        padding: 35px 0;
        row-gap: 30px;
    }

    .catergory-links {
        row-gap: 10px;
    }

    .newletter-title {
        font-size: 16px;
    }

    .newsletter-content {
        row-gap: 8px;
    }

    .newsletter-text {
        font-size: 14px;
    }

    .product-cate-filter{
        padding: 50px 0;
        column-gap: 20px;
    }

    .product-filter-accordion {
        max-width: 170px;
    }

    .product-listing-wrap{
        width: calc(100% - 190px);
        row-gap: 35px;
        column-gap: 15px;
    }

    .category-filter-collapse .accordion-item .accordion-header .accordion-button {
        font-size: 14px;
    }

    .category-filter-collapse .accordion-item .accordion-header .accordion-button, 
    .category-filter-collapse .accordion-item:first-of-type>.accordion-header .accordion-button {
        padding: 10px 0;
    }

    .category-filter-collapse .accordion-button::after {
        width: 10px;
        height: 10px;
    }

    .product-name {
        font-size: 14px;
    }

    .product-spec {
        font-size: 13px;
    }

    .product-image-wrap{
        margin: 20px 0 30px;
        width: 170px;
        height: 88px;
    }

    .product-redirect-btn{
        flex-direction: column;
        row-gap: 6px;
    }

    .view-product-btn{
        padding: 0 0px 0 0;
    }
}

@media (max-width: 575px){
    .social-listing li a{
        width: 22px;
        height: 22px;
    }

    .social-listing li a svg {
        width: 16px;
        height: 16px;
    }

    .toggle-btn{
        width: 26px;
        height: 26px;
    }

    .toggle-btn svg {
        width: 20px;
        height: 12px;
    }

    .footer-title-wrap{
        padding-left: 20px;
    }   

    .footer-title-wrap:before{
        left: 0;
        width: 12px;
    }

    .newsletter-btn{
        font-size: 14px;
    }

    .main-content-wrapper {
        margin-top: 78px;
    }

    .banner-title {
        font-size: 34px;
    }

    .banner-title span {
        font-size: 22px;
    }

    .banner-btn {
        font-size: 14px;
        min-width: 130px;
    }

    .banner-slider .item .banner-content {
        row-gap: 20px;
    }

    .cmn-padding{
        padding: 35px 0;
    }

    .section-header{
        margin-bottom: 20px;
    }

    .upcoming-events-section{
        position: relative;
        padding-bottom: 60px;
    }

    .upcomin-event-slider{
        padding-left: 15px;
        padding-right: 15px;
    }

    .cmn-link-btn{
        position: absolute;
        bottom: 20px;
        font-size: 14px;
        column-gap: 7px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev, 
    .upcomin-event-slider.owl-carousel .owl-nav .owl-next{
        margin-top: -28px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-prev{
        left: -5px;
    }

    .category-slider.owl-carousel .owl-nav .owl-prev{
        left: -17px;
    }

    .upcomin-event-slider.owl-carousel .owl-nav .owl-next{
        right: -5px;
    }

    .category-slider.owl-carousel .owl-nav .owl-next{
        right: -17px;
    }

    .plus-icon {
        width: 12px;
        height: 12px;
    }

    .event-title {
        font-size: 16px;
    }

    .event-date {
        font-size: 13px;
    }

    .event-country {
        font-size: 15px;
    }

    .section-title {
        font-size: 20px;
    }

    .main-section-header{
        padding: 30px 0 0px;
    }

    .cmn-lft-style:before {
        width: 4px;
        height: calc(100% - 10px);
    }

    .main-section-title {
        font-size: 26px;
    }

    .categories-wrpper {
        padding: 30px 0;
        row-gap: 25px;
    }

    .top-category-section, .bottom-category-section{
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .newsletter-img{
        width: 100%;
        height: 100%;
    }

    .newsletter-wrapper{
        row-gap: 10px;
    }

    .newsletter-wrapper .cmn-link-btn{
        position: relative;
        bottom: auto;
    }

    .whats-new-section{
        position: relative;
    }

    .whats-new-section .section-header .cmn-link-btn{
        right: 12px;
        bottom: 34px;
    }

    .newsletter-content {
        max-width: calc(100% - 30px);
    }

    .accordion-trigger::after{
        background-size: 12px;
        width: 12px;
        height: 12px;
    }

    .breadcrumb .breadcrumb-item{
        font-size: 14px;
    }

    .category-banner {
        height: 250px;
    }

    .inner-page-wrapper {
        margin-top: 15px;
    }

    .page-breadcrumb {
        margin-bottom: 25px;
    }

    .category-slider .item {
        min-width: 200px;
    }

    .category-slider .category-slider-img-wrap {
        height: 130px;
    }

    .category-slider-title {
        font-size: 16px;
    }

    .category-slider-title.cmn-lft-style:before {
        height: calc(100% - 7px);
    }

    .category-slider-wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobile-filter-btn{
        display: flex;
    }

    .product-cate-filter{
        flex-direction: column;
        padding: 40px 0;
        column-gap: 0;
        row-gap: 25px;
    }

    .product-filter-accordion{
        max-width: 100%;
        box-shadow: 0px 0px 10px #8f8f8f45;
    }

    .product-listing-wrap{
        width: 100%;        
    }

    .btn.filter-btn{
        background-color: #A12933;
        padding: 6px 12px;
        border-radius: 0px;
        border: 0;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        font-size: 18px;
    }

    .btn.filter-btn svg{
        width: 20px;
        height: 18px;
    }

    .btn.filter-btn:hover,
    .btn.filter-btn:active{
        background-color: #000;
        color: #fff;
    }

    .category-filter-collapse{
        padding: 10px 10px 20px;
    }

    .product-redirect-btn{
        flex-direction: row;
    }

    .view-product-btn {
        padding: 0 12px 0 0;
    }

    .cmn-view-btn:hover:before {
        width: 14px;
        height: 9px;
    }

    .cmn-view-btn:hover {
        padding-left: 12px;
    }

    .view-product-btn.cmn-view-btn:hover {
        padding: 0 0 0 12px;
    }
}

@media (max-width: 479px){
    .footer-left-side{
        row-gap: 10px;
    }

    .newsletter-wrapper {
        row-gap: 10px;
    }
    
    .newsletter-form .form-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    .form-group-wrap{
        grid-column: span 1;
    }

    .footer-page-links{
        flex-direction: column;
        row-gap: 20px;
    }

    .footer-menu-list{
        row-gap: 10px;
        width: 100%;
    }

    .copyright-text {
        font-size: 12px;
    }

    .banner-slider {
        height: 380px;
    }

    .newsletter-content {
        row-gap: 5px;
    }

    .newsletter-text {
        font-size: 13px;
    }

    .category-slider .item {
        min-width: 180px;
    }

    .category-slider .category-slider-img-wrap {
        height: 117px;
    }

    .btn.filter-btn{
        font-size: 16px;
    }

    .btn.filter-btn svg {
        width: 18px;
        height: 16px;
    }

    .cmn-view-btn {
        font-size: 12px;
    }
}

@media (max-width: 400px){

    .header-navbar .navbar-brand {
        max-width: 60px;
    }

    .header-right-top ul li {
        font-size: 12px;
    }

    .header-right-top ul li a {
        width: 20px;
        height: 20px;
    }

    .header-right-side{
        row-gap: 8px;
    }

    .header-right-btm{
        gap: 12px;
    }

    .social-listing li a{
        width: 20px;
        height: 20px;
    }

    .social-listing li a svg {
        width: 14px;
        height: 14px;
    }

    .toggle-btn{
        width: 24px;
        height: 24px;
    }

    .toggle-btn svg {
        width: 20px;
        height: 12px;
    }

    .main-content-wrapper {
        margin-top: 72px;
    }

    .banner-title {
        font-size: 32px;
    }

    .banner-title span {
        font-size: 20px;
    }

    .section-header {
        margin-bottom: 15px;
    }

    .main-section-title {
        font-size: 20px;
    }

    .main-section-header{
        row-gap: 40px;
    }

    .btm-style:before {
        width: 45px;
        height: 3px;
        bottom: -22px;
    }

    .about-info-sec {
        font-size: 14px;
    }

    .categories-wrpper {
        padding: 20px 0;
        row-gap: 20px;
    }

    .top-category-section, .bottom-category-section{
        gap: 20px;
    }

    .catergory-links {
        row-gap: 8px;
    }

    .category-name {
        font-size: 16px;
    }

    .mobile-accorodion-wrap{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .cmn-link-btn{
        column-gap: 4px;
    }

    .category-slider-title {
        font-size: 14px;
    }

    .category-slider .item {
        min-width: 150px;
    }

    .category-slider .category-slider-img-wrap {
        height: 98px;
    }

    .product-cate-filter{
        padding: 30px 0;
    }

    .btn.filter-btn {
        font-size: 14px;
    }

    .product-listing-wrap{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
    }

    .btn.filter-btn svg {
        width: 16px;
        height: 14px;
    }

    .category-filter-collapse .checkmark {
        width: 12px;
        height: 12px;
    }

    .category-filter-collapse .form-check-label {
        font-size: 13px;
        padding-left: 20px;
    }
}