@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

ul{
	list-style: none;
}

ul,ol{
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.form-control:focus{
	box-shadow: none;
}

.header-navbar{
	padding: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-navbar .navbar-brand{
	padding: 0px;
	margin: 0px;
}

.main-logo {
	max-width: 100%;
}

.header-right-side{
	display: flex;
	flex-direction: column;
}

.header-right-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-right-top ul{
	display: flex;
	gap: 10px;
}

.header-right-top ul li{
	line-height: 1.2;
	position: relative;
}

.header-right-top ul li:not(:first-child):before{
	content: '';
	position: absolute;
	left: -5px;
    top: 50%;
    transform: translateY(-50%);
	width: 1px;
	height: calc(100% - 4px);
	background-color: #1E1E20;
}

.header-right-top ul li a{
    padding: 1px;
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 25px;
    justify-content: center;
	color: #000;
}

.header-right-top ul li.active a{
	background-color: #1E1E20;
	color: #fff;
}

.header-right-btm{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.social-listing{
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-listing li{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.social-listing li a{
	color: #1E1E20;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1px;
}

.social-listing li a:hover{
	color: #A12933;
}

.social-listing li a svg{
	width: 100%;
	height: 100%;
}

.main-web-menu .navbar-nav>li{
	line-height: 1.2;
	text-transform: uppercase;
}

.main-web-menu .navbar-nav>li>a{
	color: #1E1E20;
    padding: 5px 0;
	position: relative;
}

.main-web-menu .navbar-nav>li>a:before,
.main-web-menu .navbar-nav>li>a:after{
	content: '';
	position: absolute;
	bottom: 0px;
	width: 0;
	height: 2px;
	left: 50%;
	background-color: #AD3C2C;
	transition: all 0.3s ease-in-out;
}

.main-web-menu .navbar-nav>li.active>a:before,
.main-web-menu .navbar-nav>li>a:hover:before,
.main-web-menu .navbar-nav>li.active>a:after,
.main-web-menu .navbar-nav>li>a:hover:after{
    width: 50%;
}

.main-web-menu .navbar-nav>li.active>a:before,
.main-web-menu .navbar-nav>li>a:hover:before{
	left: 0;
}

.main-web-menu .navbar-nav>li.active>a:after,
.main-web-menu .navbar-nav>li>a:hover:after{
	right: 0;
}

.toggle-btn{
	padding: 3px;
	border: 0;
    width: 30px;
    height: 30px;
	background-color: #A12933;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-btn svg{
	color: #fff;
    width: 24px;
    height: 16px;
}

.banner-slider .item{
	position: relative;
	height: 100%;
}

.banner-slider .item .banner-content{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
   	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
	width: 100%;
	padding: 0 12px;
}

.banner-content{
	color: #fff;
}

.banner-image{
	transition: transform 2s ease-in-out;
	height: 100%;
	object-fit: cover;
}

.banner-slider .owl-stage-outer,
.banner-slider .owl-stage,
.banner-slider .owl-item{
	height: 100%;
}

.banner-slider .item:hover .banner-image{
	transform: scale(1.25);
}

.banner-title{
    line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
}

.banner-title span{
	line-height: 1.3;
	font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-align: center;
}

.banner-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	background-color: rgba(30, 30, 32, 0.5);
	padding: 5px;
	min-height: 36px;
	min-width: 150px;
	color: #fff;
	column-gap: 5px;
}

.banner-btn:hover{
	background-color: rgba(161, 41, 51, 0.7);
}

.owl-carousel  .banner-btn .bnr-btn-img{
	width: 15px;
	height: 15px;
}

.section-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cmn-lft-style{
	position: relative;
}

.cmn-lft-style:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
	height: calc(100% - 14px);
    background-color: rgba(161, 41, 51, 1);
}

.section-title{
	font-weight: 300;
	color: rgba(66, 66, 66, 1);
	line-height: 1.3;
	text-transform: uppercase;
}

.cmn-link-btn{
	display: flex;
	align-items: center;
	color: rgba(30, 30, 32, 1);
	font-weight: 600;
	line-height: 1.3;
}

.cmn-link-btn:hover{
	text-decoration: underline;
}

.cmn-link-btn span{
	display: inline-flex;
}

.upcomin-event-slider.owl-carousel .owl-nav .owl-prev,
.upcomin-event-slider.owl-carousel .owl-nav .owl-next{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	background-repeat: no-repeat;
	background-size: 100%;
}

.upcomin-event-slider.owl-carousel .owl-nav .owl-prev .arrow-left,
.upcomin-event-slider.owl-carousel .owl-nav .owl-next .arrow-right{
	width: 100%;
	height: 100%;
	display: inline-flex;
}

.upcomin-event-slider.owl-carousel .owl-nav .owl-prev{
	background-image: url(../images/left-arrow.svg);
}

.upcomin-event-slider.owl-carousel .owl-nav .owl-next{
	background-image: url(../images/right-arrow.svg);
}

.upcomin-event-slider.owl-carousel .item a{
	display: inline-flex;
	flex-direction: column;
	row-gap: 15px;
	color: rgba(0, 0, 0, 1);
}

.events-content-wrap{
	display: flex;
	flex-direction: column;
}

.event-title{
	font-weight: 600;
	line-height: 1.3;
}

.event-date{
	margin: 0px;
	font-weight: 300;
	line-height: 1.3;
}

.event-country{
	color: rgba(161, 41, 51, 1);
	line-height: 1.3;
}

.main-section-header{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.main-section-title{
	line-height: 1.3;
	color: rgba(66, 66, 66, 1);
	font-weight: 300;
	position: relative;
	text-transform: uppercase;
}

.btm-style:before{
	content: '';
	position: absolute;
	background-color: rgba(161, 41, 51, 1);
	left: 50%;
	transform: translateX(-50%);
}

.about-info-sec{
	line-height: 1.3;
	color: rgba(52, 52, 52, 1);
	font-weight: 300;
}

.categories-wrpper{
	display: flex;
	flex-direction: column;
}

.top-category-section{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.bottom-category-section{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.catergory-links{
	display: flex;
	flex-direction: column;
	row-gap: 18px;
}

.category-img-wrap{
	overflow: hidden;
}

.catergory-links .category-image{
	transition: transform 2s ease-in-out;
}

.top-category-section .catergory-links:hover .category-image{
    transform: scale(1.7);
}

.bottom-category-section .catergory-links:hover .category-image{
	transform: scale(1.5);
}

.catergory-links:hover .category-name{
	text-decoration: underline;
}

.category-name {
	display: flex;
	align-items: center;
	line-height: 1.3;
	color: rgba(53, 53, 53, 1);
	text-transform: capitalize;
	font-weight: 500;
}

.newsletter-wrapper .nav-pills .nav-link {
	padding: 0px;
	border-bottom: 2px dotted #424147;
	border-radius: 0;
}

.newsletter-wrapper .nav-pills .nav-link:hover,
.newsletter-wrapper .nav-pills .nav-link.active{
	background-color: transparent;
	color: inherit;
}

.tab-content > .tab-pane {
	display: none;
}

.tab-content > .tab-pane.show {
	display: block;
}

.grey-bg{
	background-color: rgba(66, 65, 71, 0.05);
}

.newsletter-wrapper{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
}

.newsletter-form{
    display: flex;
    width: 100%;
}

.newsletter-form form{
	width: 100%;
}

.newsletter-form .form-wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 15px;
	column-gap: 20px;
	margin-bottom: 15px;
}

.newsletter-content-wrap{
	position: absolute;
    right: 0;
    top: 0;
}

.tab-content{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.newsletter-img{
	display: flex;
	align-items: center;
	justify-content: center;
}

.newsletter-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.newsletter-wrapper .nav-pills{
	background-color: transparent;
	padding: 0px;
}

.newsletter-content-wrapper{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.newsletter-content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.newletter-title{
	line-height: 1.3;
	color: rgba(0, 0, 0, 1);
	font-weight: 600;
	transition: all 0.3s ease-in-out;
}

.newsletter-wrapper .nav-pills{
	max-width: 100%;
	flex-direction: column;
    width: 100%;
	position: relative;
}

.newsletter-wrapper .nav-pills .nav-link .newletter-title{
	background-position: left center;
}

.newsletter-wrapper .nav-pills .nav-link:hover .newletter-title{
	background-image: url(../images/arrow-icon.svg);
	background-repeat: no-repeat;
}

.newsletter-text{
	font-weight: 300;
	line-height: 1.3;
	color: rgba(52, 52, 52, 1);
	margin: 0px;
}

/* footer */
.footer-bg{
	background-color: #1E1E200D;
}

.footer-content-wrap{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-left-side{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-title-wrap{
	line-height: 1.3;
	position: relative;
	display: flex;
    align-items: center;
}

.footer-title-wrap:before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../images/footer/arrow-icon.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100%;
}

.footer-title-wrap,
.footer-title-wrap a{
	color: #292524;
	font-weight: 300;
}

.footer-title-wrap a:hover{
	text-decoration: underline;
}

.form-wrapper .form-group{
	display: flex;
}

.form-group-wrap{
	width: 100%;
	display: flex;
    align-items: center;
    grid-column: span 3;
	gap: 15px;
}

.form-group-wrap .form-group {
	width: calc(100% - 75px);
}

.form-group .form-control{
	background-color: #fff;
	border-radius: 0px;
	padding: 4px 12px;
	font-weight: 300;
	color: #78797F;
	border: 0;
}

.form-group .form-control::placeholder{
	color: #78797F;
}

.newsletter-btn{
	background-color: #A12933;
	color: #fff;
	transition: all 0.3s ease-in-out;
	border: 0;
}

.cmn-select-dropdown .select2-container--default .select2-selection--single{
	height: 100%;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
}

.cmn-select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #78797F;
	width: 100%;
	font-weight: 300;
}

.cmn-select-dropdown .select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 100%;
}

.newsletter-btn:hover{
	background-color: #1E1E20;
}

.field-info{
	color: #292524;
	line-height: 1.3;
	font-weight: 300;
}

.footer-right-side{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.footer-page-links{
	display: flex;
	align-items: flex-start;
}

.footer-menu-list{
	display: flex;
	flex-direction: column;
}

.footer-link-title{
	font-weight: 700;
	text-transform: uppercase;
	color: #292524;
	line-height: 1.2;
}

.footer-menu{
	display: flex;
	flex-direction: column;
}

.footer-menu li{
	font-weight: 500;
	text-transform: uppercase;
}

.footer-menu li a{
	color: #292524;
}

.footer-menu li a:hover{
	color: #AD3C2C;
	text-decoration: underline;
}

.social-copyright{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.copyright-text{
	color: #292524;
	line-height: 1.2;
}
/* */